
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
<!-- <h1>Welcome to {{ hotelname }}</h1> -->
<hinv-header></hinv-header>
<hinv-header></hinv-header>
<hinv-header></hinv-header>

<p>Number of available rooms: {{ roomCount }}</p>
<button (click)="bookRoom()">Book a Room</button>
<div [hidden]="hideRooms">
    Number of Rooms:
    <div [ngStyle]="{'color': rooms.availableRooms > 0 ? 'green' : 'black'}"
         [innerText]="numberofRooms">  
    </div>

</div>
<div *ngIf="selectedRoom">
{{selectedRoom|json}}
</div>

<div>
  <button (click)="addRoom()"> Add Room</button>
</div>

<div *ngIf="rooms.availableRooms > 0"> 
    <hinv-rooms-list [rooms]="Roomlist"
    [title]="title"
    (selectedRoom)="selectRoom($event)"
    ></hinv-rooms-list>
    </div>
    

<button (click)="toggle()">Toggle</button>
  </body>
</html>

